<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Encryptor</title>
    <!-- CDN for Bootstrap v3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- CDN for Semantic UI v2.3.3 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <!-- CDN for jQuery 2.1.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<script>
    $(document).ready(function(){

        //Delay function
        function sleep(ms)
        {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        // function to shuffle the array elements since encryption algo is not yet implemented
        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;
            // While there remain elements to shuffle...
            while (0 !== currentIndex) {
                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;
                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }
            return array;
        }

        pixels = []
        <% pixels.forEach(p => { %>
            pixels.push(<%= p %>)
        <% }) %>

        // rendering decrypted pixels
        <% pixels.forEach(function(i){ %>
            if (<%= i %> === 0)
                $('#decryptorBox').append('<div style="width:' + <%= 720/width %> + 'px; height:' + <%= 720/height %> + 'px; background-color: black; float: left;"></div>');
            else if (<%= i %> === 1) 
                $('#decryptorBox').append('<div style="width:' + <%= 720/width %> + 'px; height:' + <%= 720/height %> + 'px; background-color: white; float: left;"></div>');
        <% }); %>

        // encryption simulation
        encrypt = shuffle( pixels )

        // rendering encrypted pixels
        encrypt.forEach(function(i){
            if (i === 0)
                $('#encryptorBox').append('<div style="width:' + <%= 720/width %> + 'px; height:' + <%= 720/height %> + 'px; background-color: black; float: left;"></div>');
            else if (i === 1)
                $('#encryptorBox').append('<div style="width:' + <%= 720/width %> + 'px; height:' + <%= 720/height %> + 'px; background-color: white; float: left;"></div>');
        });

        async function decrypt() {
            for(var i=0; i< <%= width*height %>; i++)
            {   
                $('#progress').text(Math.round(((i+1)/(<%= width*height %>))*100));
                e = $('#encryptorBox').children()[i];
                $(e).hide();
                await sleep(1);
            }
        }

        setTimeout(decrypt(), 1000)
    });
</script>

<body>
    <div style="display: inline-block">
        <div id='decryptorBox' style="width: 720px; height: 720px; display: inline-block; position: relative;">
            <!-- Decrypted image forms here -->
        </div>
        <div id='encryptorBox' style="width: 720px; height: 720px; background-color: rgba(0, 0, 0, 0); display: inline-block; position: absolute; top: 0; left: 0;">
            <!-- Encrypted image forms here -->
        </div>
    </div>
    <div style='display: inline-block; vertical-align: top; margin: 20% 13%'>
        <h1><span>Decrypting: &nbsp;</span><span id='progress'></span><span>%</span></h1>
    </div>
    <!-- <button onclick="decrypt()">decrypt</button> -->
</body>
</html>